.form-dialog {
  position: absolute;
}

.form-dialog label {
  margin-left: 10px;
}

.right-label {
  margin-left: 10px;
}

.dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

.dialog-validate {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 130px;
  background-color: #ffffff;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border-radius: 5px;
  border: 5px solid #0072bc;
}

.dialog-validate .dialog-titlebar {
  color: #ffffff;
  width: 100%;
  background-color: #0072bc;
  height: 30px;
}

.dialog-validate .dialog-titlebar .title {
  float: left;
  line-height: 25px;
  padding-left: 4px;
}

.dialog-validate .dialog-titlebar .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  width: 16px;
  height: 16px;
  float: right;
  line-height: 15px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #ffffff;
  color: #0072bc;
  font-size: 18px;
  cursor: pointer;
}

.dialog-validate .dialog-body {
  padding-left: 20px;
  padding-right: 20px;
}

.dialog-body .form-title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-top: 6px;
}

.dialog-body .row {
  display: flex;
  margin-bottom: 8px;
}
.dialog-body .row .row-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.dialog-body .row .row-item.upload-image {
  align-items: flex-start;
}

.dialog-body .row .row-item.f-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dialog-body .row-item .left-item {
  width: 135px;
  text-align: left;
}

.dialog-body .row-item .right-item {
  width: calc(100% - 135px);
  display: flex;
  align-items: center;
}

.right-item input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dialog-body input,
textarea,
select {
  border-radius: unset;
  border: 1px solid #ccc;
  height: 28px;
  padding: 4px;
  outline: none;
}

.dialog-body input:focus,
textarea:focus,
select:focus {
  border: 1px solid #0072bc;
}

.dialog-body .row-item .short-input {
  width: 160px;
}

.dialog-body .row-item .medium-input {
  width: 310px;
}
.dialog-body .right-item .short-row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.dialog-body .input-file:hover {
  color: white;
  background-color: #0072bc;
}


.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-78 {
  width: 78%;
}

.w-100 {
  width: 100%;
}

.dialog-footer {
  display: flex;
  padding: 8px;
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 40px;
}

.dialog-footer .footer-left {
  position: absolute;
  left: 15px;
}

.dialog-footer .footer-right {
  position: absolute;
  right: 9px;
}

#validateText{
  margin-top: 10px;
  margin-left: 30px;
}