.form-dialog {
  position: absolute;
}

.form-dialog label {
  margin-bottom: 0px !important;
}

.right-label {
  margin-left: 10px;
}

.dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

.dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 530px;
  background-color: #ffffff;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border-radius: 5px;
  border: 5px solid #0072bc;
}

.dialog .dialog-titlebar {
  color: #ffffff;
  width: 100%;
  background-color: #0072bc;
  height: 30px;
}

.dialog .dialog-titlebar .title {
  float: left;
  line-height: 25px;
  padding-left: 4px;
}

.dialog .dialog-titlebar .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  width: 16px;
  height: 16px;
  float: right;
  line-height: 15px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #ffffff;
  color: #0072bc;
  font-size: 18px;
  cursor: pointer;
}

.dialog .dialog-body {
  padding-left: 20px;
  padding-right: 20px;
}

.dialog-body .form-title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.dialog-body .row {
  display: flex;
  margin-bottom: 8px;
}
.dialog-body .row .row-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.dialog-body .row .row-item.upload-image {
  align-items: flex-start;
}

.dialog-body .row .row-item.f-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dialog-body .row-item .left-item {
  width: 135px;
  text-align: left;
}

.dialog-body .row-item .right-item {
  width: calc(100% - 135px);
  display: flex;
  align-items: center;
}

.right-item input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dialog-body input,
textarea,
select {
  border-radius: unset;
  border: 1px solid #ccc;
  height: 28px;
  padding: 4px;
  outline: none;
}

.dialog-body input:focus,
textarea:focus,
select:focus {
  border: 1px solid #0072bc;
}

.dialog-body .row-item .short-input {
  width: 160px;
}

.dialog-body .row-item .medium-input {
  width: 310px;
}
.dialog-body .right-item .short-row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dialog-body .form-upload-image {
  padding-left: 8px;
  width: 22%;
  height: 142px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form-upload-image .avatar-upload {
  width: 100%;
  height: 142px;
  background-color: red;
  background: url("/asset/images/avatardefault.png") no-repeat center;
  background-size: 100% 100%;
}

.form-upload-image .image-info {
  text-align: center;
}

.dialog-body .input-file {
  padding: 4px 12px;
  width: 80px !important;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dialog-body .input-file:hover {
  color: white;
  background-color: #0072bc;
}

.dialog .img-thumbnail {
  width: 85px;
  height: 85px;
}

.dialog .upload-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 142px;
  height: 40px;
  bottom: 0;
  right: 0;
}

.dialog .upload-control button {
  display: flex;
  align-items: center;
  height: 50%;
  width: 35px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 20px;
  border-radius: unset;
}

.dialog .upload-control button:hover {
  background-color: white;
  border-color: #0973b9;
  cursor: pointer;
}

.upload-control button.choose-file {
  padding-bottom: 10px;
  padding-left: 8px;
}

.upload-control button.delete-avatar {
  color: red;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 2px;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-78 {
  width: 78%;
}

.w-100 {
  width: 100%;
}

.dialog-footer {
  display: flex;
  padding: 8px;
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 40px;
}

.dialog-footer .footer-left {
  position: absolute;
  left: 15px;
}

.dialog-footer .footer-right {
  position: absolute;
  right: 9px;
}

.currency {
  position: absolute;
  right: 8px;
}